@model IEnumerable<SportskaOpremaNemanjaTutunovic.Models.ArtikalBO>

@{
    ViewBag.Title = "Index";
}

<h2>Admin panel artikli</h2>

<p>
    @Html.ActionLink("Dodaj novi artikal", "Create", null, new { @class = "btn btn-primary btn-sm active" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtikalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazivArtikla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>Akcije</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtikalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazivArtikla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id = item.ArtikalID }, new { @class = "btn btn-warning btn-l active" })
            @Html.ActionLink("Obriši", "Delete", new { id = item.ArtikalID }, new { @class = "btn btn-danger btn-l active" })
        </td>
    </tr>
}

</table>
